.sidenav-container{
    min-width: 215px;
}

@media screen and (max-width: 767px){
    .sidenav-container{
        position: fixed;
        background-color: var(--ion-color-white);
        z-index: 99;
    }
}