  <ion-row>
    <ion-col size="3"  class="ion-no-padding sidenav-container">
      <sidenav [hidden]="collapsed === true" [collapsed]="collapsed" (onSidenavToggleClick)="collapsed = $event"></sidenav>
      
      <ion-icon (click)="collapsed = !collapsed" style="padding: 20px; top: -15px" class="toggle-icon" *ngIf="collapsed === true" name="reorder-three-outline"></ion-icon>      
    </ion-col>
    <ion-col [size]="collapsed === true ? '12' : ''" class="ion-no-padding">
      <topnav></topnav>
      <router-outlet>
      </router-outlet>
    </ion-col>
  </ion-row>
 


