<ion-header class="ion-padding">
  <ion-toolbar >
   <div class="ion-d-flex ion-justify-content-evenly " id="menu" >
      <ion-card-subtitle  *ngFor="let menu of menus" [routerLink]="menu.path" [routerLinkActive]="'active'" class="link" >
        {{menu.name | uppercase}}
      </ion-card-subtitle>
   </div>
  </ion-toolbar>
</ion-header>
