.link{
    font-weight: 500; font-size: 1.1em; cursor: pointer;
    &:hover{
        color: var(--ion-color-primary);
        transition: ease-in-out .5s;
    }
    
}

.active{
    color: var(--ion-color-primary);
}


@media  screen  and (max-width: 767px) {
    ion-header{
        padding: 0 15px 0px 15px;
        #menu{
            margin-top:38px;
            .link{
                margin: 10px;
            }
        }
    }
    
 
}