<div class="ion-h-100vh ion-border-right">
  <ion-row class="">
    <ion-col>
       <ion-icon (click)="onToggleSidenav()" style="right: 0;" class="toggle-icon" [name]="'chevron-back-circle-outline'"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row class="ion-border-bottom">
    <ion-col class="ion-d-flex ion-wrap ion-justify-content-center">
      <div class="ion-w-100 ion-d-flex ion-justify-content-center">
        <ion-img defer src="../../assets/avatar.png" style="width: 80px;"></ion-img>
      </div>
      <div class="ion-margin-top ion-text-center">
        <ion-note>admin</ion-note>
        <ion-card-subtitle>g-alex@yopmail.com</ion-card-subtitle>
      </div>
    </ion-col>
  
    <ion-col size="12">
      <ion-row class="task-container">
        <ion-col>
          <ion-label>
            4
          </ion-label>
          <ion-card-subtitle>
            To do tasks
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-label>
            7
          </ion-label>
          <ion-card-subtitle>
            Completed tasks
      
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-label>
            8
          </ion-label>
          <ion-card-subtitle>
            Primary tasks
      
          </ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-col>
  
  </ion-row>
  
  <ion-row class="categories-container ion-border-bottom">
    <ion-col class="ion-text-center">
        <ion-label>Categories</ion-label>
    </ion-col>
    <ion-col class="item" size="12">
     <div class="badge"></div> 
      <div class="ion-margin-start">Work</div>
    </ion-col>
  </ion-row>
  
  <ion-row class="friends-container ion-margin-bottom">
    <ion-col class="ion-text-center">
        <ion-label>Friends</ion-label>
    </ion-col>
    <ion-col size="12">
      <div class="item">
          <ion-img style="width: 50px;" src="../../assets/no-data.png"></ion-img>
      </div>
      <div class="ion-text-center">
         <ion-card-subtitle>No data</ion-card-subtitle>
      </div>
    </ion-col>
  </ion-row>
</div>
