@mixin item{
    display: flex;
    padding: 20px 40px 40px 40px;
    align-items:center;
}

@mixin margin{
    margin: 2rem 0 2rem 0;

}


.task-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    ion-col{
        text-align: center;
               ion-card-subtitle{
            font-size: .7rem;
        }
    }
}


.categories-container{
    @include margin;
    .item{
        @include item;
    }
    .badge{
        width: 28px;
        height: 12px;
        background-color: var(--ion-color-primary);
    }
}

.friends-container{
 @include margin;
 .item{
    @include item;
    padding-bottom: 1rem;
    justify-content: center;
 }
}


ion-label{
    font-weight: 700;
    font-size: 1.3rem;
}

