/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.ion-h-100vh{
    height: 100vh;
}
.ion-d-flex{
    display: flex;
    flex-wrap: wrap;
}

.ion-w-100{
    width: 100%;
}

.ion-border-bottom{
    border-bottom: 1px solid var(--ion-color-medium-light);
}

.ion-border-right{
    border-right: 1px solid var(--ion-color-medium-light);
}

.badge-hl{
    width: 12px;
    height: 28px;
    display: inline-block;
    background-color: var(--ion-color-primary);
}

.light-text-color{
    color: var(--ion-color-white);
}

.toggle-icon{
    font-size: 45px;
    position: absolute;
    color: var(--ion-color-medium);
    z-index: 20;
}
