<ion-content style="height:100vh">
  <ion-row class="ion-padding ion-d-flex ion-align-items-center">
    <ion-col size="12" size-md="3" class="ion-d-flex ion-align-items-center">
      <span class="badge-hl"></span>
      <h3 class="ion-padding">Work</h3>

    </ion-col>
    <ion-col size="12">
      <input [(ngModel)]="credentials.email" type="email"/>
      <input [(ngModel)]="credentials.password" type="password"/>
      <button (click)="login()">Login</button>
    </ion-col>
    <ion-col size="12" size-md="2">
      <!--Don't know whats this-->
      <span style="color:var(--ion-color-medium)">
        <ion-icon name="chevron-down-outline"></ion-icon>
        <ion-icon name="add-outline"></ion-icon>
        <ion-icon name="remove-outline"></ion-icon>
      </span>
    </ion-col>
    <ion-col size="12" size-md="7">
      <ion-chip  
      *ngFor="let category of ['All','High','Medium','Low']" 
      [style.backgroundColor]="category == activeCategory ? 'var(--ion-color-primary)' : 'transparent'"
      [class.light-text-color]="category == activeCategory"
      (click)="onClickCat(category)"
      >
        {{category | uppercase}}
      </ion-chip>

    </ion-col>
  </ion-row>
  <ion-row  class="task-list ion-padding-start ion-padding-end ion-d-flex ion-align-items-center" *ngFor="let task of taskData">
    <ion-col class="action-buttons">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-icon name="list-circle-outline"></ion-icon>
      <!-- <ion-icon [color]="task.priority == 'Low' ? 'success' : task.priority == 'Low' ? 'success'  : ''" (click)="task.selected = !task.selected" name="checkmark-circle-outline"></ion-icon> -->
    </ion-col> 
    <ion-col>
       {{task.taskName}}
       <div>
        <ion-card-subtitle style="padding-top: 7px;">
          {{task.creationDate | date: 'dd.MM.YYYY, HH:mm:ss'}}
        </ion-card-subtitle>
       </div>
    </ion-col> 
 </ion-row>
 <ion-row class="ion-padding">
    <ion-button>New Task</ion-button>
 </ion-row>

  
 <!-- <ion-row>
  <ion-col size="6" *ngFor="let task of taskData">
    <ion-card>
      <ion-card-header> 
        <ion-card-title>
          {{task?.taskName}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row> -->
</ion-content>
