
.task-list{
    margin-bottom: 2rem;
    .action-buttons{
        max-width: 145px;
    }
    ion-icon{
        font-size: 2rem;
        margin-right: .7rem;
        color: var(--ion-color-medium);
    }
}
